body {
  background-color: rgb(10, 155, 209);

}

#card {
  margin: auto;
  width: 50%;
  margin-top: 10%;
  background-color: rgb(221, 168, 51);
  padding: 3%;
  border-radius: 15px;
}

#card h1 {
  text-align: center;
}

#close {
  text-align: right;
}

#cat {
  margin: auto;
  width: 50%;
display: block;
}
