#search-area {
  margin: auto;
  width: 50%;
  margin-top: 5%;
  text-align: center;
  background-color: rgb(9, 94, 10);
  padding: 7%;
  border-radius: 40px;
}

#logo-img {
width: 40em;

}

body {
  font-family: 'Slabo 27px', serif;

}

#name {
  font-size: 35pt;
}

#label-text {
  font-size: 25pt;
}

#button  {
  width: 100px;
  height: 80px;
  font-size: 25pt;
}
